@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  src: local('Avenir-300'),
    url('../fonts/Avenir-Regular.otf') format('truetype');
}


@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  font-style: normal;
  src: local('Avenir-500'), local('Avenir-300'),
  url('../fonts/Avenir-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  font-style: normal;
  src: local('Avenir-700'), local('Avenir-300'),
  url('../fonts/Avenir-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  font-style: normal;
  src: local('Avenir-900'), local('Avenir-300'),
  url('../fonts/Avenir-Thin.otf') format('truetype');
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, #root, #app {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #262626;
  font-family: Avenir, sans-serif;
  height: 100%;
}

.card__draft-product--shadow {
  box-shadow: 0px 0px 6px rgba(176, 176, 176, 0.25);
}


.credit-card {
  height: 180px;
  border-radius: 16px;
  background: linear-gradient(to right top, #52b6fe, #6154fe);
  padding: 30px;
  box-shadow:
    0 2.28px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.012);
}

.credit-card::before {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 84% 70%, 46% 59%, 35% 21%, 0 0);
  background: rgb(1, 4, 64);
  background: linear-gradient(
      90deg,
      rgba(1, 4, 64, 1) 4%,
      rgba(20, 1, 130, 1) 24%,
      rgba(39, 5, 185, 0.9535662877030162) 51%,
      rgba(0,104,255,1) 75%,
      rgba(5, 145, 184, 1));
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-right: 16px;
  z-index: 10;
  opacity: 0.4;
}

.ticket {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    .ticket-top,
    .ticket-bottom,
    .ticket-rip {
      background-color: #fff;
    }
    .ticket-top {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 18px;
    }
    .ticket-bottom {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 18px;
    }
    .ticket-rip {
      height: 20px;
      margin: 0 10px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
      background-size: 4px 2px;
      background-repeat: repeat-x;
      background-position: center;
      position: relative;
      box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
      &:before,
      &:after {
        box-sizing: initial;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: 5px solid transparent;
        border-top-color: #fff;
        border-right-color: #fff;
        border-radius: 100%;
        pointer-events:none;
      }
      &:before {
        left: -10px;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(225deg);
        right: -40px;
      }
    }
}
